<html>
   <head>
      <title>bkclb</title>
      <link rel="stylesheet" href="style.css">
      <script src="angular.min.js"> </script>
      <script src="update.js"></script>
   </head>
   <ul>
      <li>
         <a href="home.html">Home</a>
      </li>
      <li >
         <a href="worker.html">Worker Information</a>
      </li>
      <li >
         <a href="country.html">Country Information</a>
      </li>
      <li >
         <a href="update.html">Update Information</a>
      </li>
      <li>
         <a href="material.html">About</a>
      </li>
      <li >
         <a href="login.html">Login</a>
      </li>
      <li >
         <a href="adminlogin.html">Admin Login</a>
      </li>
      <li >
         <a href="logout.html">Logout</a>
      </li>
   </ul>
   <h2>update page</h2>
   <div ng-app="myApp" ng-controller="myController">
      <button ng-click="data()">
      Current table
      </button>
      <br><br>
      <button ng-click="delete()">
      Delete user
      </button>
      <br><br>
      <button ng-click="updateUser()">
      Update user
      </button>
      <br><br>
   </div>
   <p id="output">
   </p>
</html>
