<html>
<head>
  <title>bkclb</title>
  <link rel="stylesheet" href="style.css">
    
  <script src="angular.min.js"> </script>
  <script src="adminlogin.js"></script>
</head>

<ul>
    <li>
      <a href="home.html">Home</a>
    </li>
    <li >
      <a href="bookclub.html">Book Club</a>
    </li>
    <li>
      <a href="aboutus.html">About</a>
    </li>
    <li >
      <a href="login.html">Login</a>
    </li>
    <li >
      <a href="adminlogin.html">Admin Login</a>
    </li>
    <li >
      <a href="logout.html">Logout</a>
    </li>
</ul>


<h2>admin login</h2>

    <div ng-app="myApp" ng-controller="myController">
        <form name="myForm" >
            username
            <input type="text" ng-model="user.username" required><br>
            password
            <input type="password" ng-model="user.password" required><br>
            <button ng-click="submit()">
                submit
            </button>
        </form>
    </div>
    
    <p id="output">
    </p>




</html>