<html>
<head>
  <title>bkclb</title>
  <link rel="stylesheet" href="style.css">

  <script src="angular.min.js"> </script>
  <script src="bookclub.js"></script>
</head>
<ul>
    <li>
      <a href="home.html">Home</a>
    </li>
    <li >
      <a href="bookclub.html">Book Club</a>
    </li>
    <li>
      <a href="aboutus.html">About</a>
    </li>
    <li >
      <a href="login.html">Login</a>
    </li>
    <li >
      <a href="adminlogin.html">Admin Login</a>
    </li>
    <li >
      <a href="logout.html">Logout</a>
    </li>
</ul>


<div ng-app="myApp" ng-controller="myController" class="ng-scope">
    <h2 class="ng-binding">{{bcname}}</h2>
    <button ng-click="current()">
        view current book
    </button>
    <br><br>
    <button ng-click="next()">
        suggest next book
    </button>
    <br><br>
    <button ng-click="members()">
        view member list
    </button>
    <br><br>
    <button ng-click="history()">
        view reading history
    </button>
    
</div>


</html>